<title>{{if .IsHome}}{{ .Title }}{{else}}{{ .Title }} | {{.Site.Title}}{{end}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<link rel="canonical" href="{{ .Permalink }}" />
<meta itemprop=name content="{{ .Title }} | {{.Site.Title}}">
<meta itemprop=description content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
<meta property="og:title" content="{{ .Title }} | {{.Site.Title}}">
<meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{.RelPermalink  | absURL }}">
<!-- {{ template "_internal/google_analytics.html" . }} -->


<!-- Font Awesome CSS -->
{{ $fa := resources.Get "css/all_new.css" | minify}}
<link rel="stylesheet" href="{{ $fa.RelPermalink | absURL}}" media="all">

<!-- Bootstrap 4 Utils with PurgeCSS via PostCSS -->
{{ $bsutils := resources.Get "css/bootstrap-4-utilities.css" | resources.PostCSS | minify | resources.PostProcess}}
<link rel="stylesheet" href="{{ $bsutils.RelPermalink | absURL}}" media="all">

<!-- Build Main CSS from SCSS -->
{{ $sass := resources.Get "sass/main.scss" }}
{{ $style := $sass | resources.ToCSS }}
{{ $maincss := slice  $style | resources.Concat "css/main.css" | minify | fingerprint  }}
<link rel="stylesheet" href="{{ $maincss.Permalink | absURL}}" integrity="{{ $maincss.Data.Integrity }}">


